$bg-color-login: rgba(45, 21, 22, 0.5);
$bg-color-btn-login: #731010;
$bg-color-btn-face: #0088ff;
$color-text: #fff;
$main-bg-color-1: #efebe9 !important;
$main-bg-color-2: #fff;
$main-bg-color-3: #D7CCC8;
$main-bg-color-4: #EFEBE9;
$text-bg-color: #000;
$text-color-2: #fff;
$text-color-1: #8D6E63;